body {
  background-color: azure;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input_wrapper input {
  height: 34px;
  width: 300px;
  font-size: 18px;
  padding: 0 10px;
  border-radius: 5px;
  border-color: aqua;
}

.btn {
  width: 300px;
  border: none;
  background-color: yellow;
  margin-top: 5px;
  height: 24px;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  font-weight: 700;
  transition: linear 0.3s;
}

.btn:hover {
  background-color: orange;
  transition: linear 0.3s;
}

.control_panel {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.form_wrapper {
  margin: 0 30px;
}

ul {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn_remove {
  background-color: transparent;
  border: none;
  font-weight: 700;
  color: red;
  cursor: pointer;
}
li {
  width: 700px;
  display: flex;
  border: 1px solid violet;
  padding: 10px;
  margin: 3px;
  border-radius: 5px;
}

li p {
  padding: 0 10px;
}

li input {
  cursor: pointer;
}
